---
import BaseLayout from "../layouts/baseLayout.astro"
---

<BaseLayout>
    <h1>Understand your baby.</h1>
    <p>“Madsaz” helps translate (identify) an infant (0-3 months old) cries, to make you understand your baby better. There are five languages of the DBL version that can be recognized by this application.</p>
</BaseLayout>