<footer>
  <section class="footer__identity">
    <img class="img" src="" alt="" />
    <h2 class="heading">Madsaz</h2>
    <p class="paragraph">Baby Cry Translator</p>
  </section>

  <ul class="nav-links footer__socials">
    <li><a href="#">Social media</a></li>
    <li><a href="#">Social media</a></li>
    <li><a href="#">Social media</a></li>
    <li><a href="#">Social media</a></li>
  </ul>

  <ul class="nav-links footer__sitemap">
    <h2>Madsaz</h2>
    <li><a href="#">How to</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Install now</a></li>
  </ul>
</footer>

<style>
  footer {
    padding: 2rem;

    display: grid;
    grid-template-areas:
      "identity - sitemap"
      "socials - sitemap";
    grid-template-columns: 35ch 1fr 35ch;

    @media screen and (max-width: 50em) {
      grid-template-areas: "identity" "socials" "sitemap";
      grid-template-columns: 1fr;
    }
  }

  footer h2 {
    margin-block: 0 0.5rem;
  }

  .footer__identity {
    grid-area: identity;

    display: grid;
    grid-template-areas: "img heading" "img paragraph";
  }

  .footer__identity .img {
    grid-area: img;
  }

  .footer__identity .paragraph {
    margin-block: 0 0.2rem;
  }

  .footer__socials {
    display: flex;
    grid-area: socials;
  }

  .footer__socials a {
    display: inline-block;
    padding: 1rem 1.5rem;
  }

  .footer__sitemap {
    grid-area: sitemap;
  }
</style>
